<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" type="text/css" href="../static/styles/register.css" >
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul id="flashed-messages">
        {% for message in messages %}
            <li class="alert alert-{{ category }}">{{fieldName}}: {{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
	<div class="login-popup">
		<div class="box">
			<div class="img-area">
				<div class="img">
  	 	 		</div>
				<span><img src="../static/images/dog-8576035_640.png" alt="LOGO" style="width: 250px; height: 460px;"></span>
				<br>
  	 	 		<span><h1>La Brasserie</h1></span>
			</div>
  	 		<div class="form">
  	 	 		<div class="close">&times;</div>
  	 	 		<h1>Create Account</h1>
  	 	 		<form method="post" action="{{ url_for('register') }}">
					{{ form.hidden_tag() }}
					<div class="form-group">
						<!--<input type="text" placeholder="Create Username" class="form-control">
						{{ form.username.label() }}-->
						{{ form.username(class="form-control", placeholder="User Name") }}
					</div>
  	 	 			<div class="form-group">
  	 	 				<!--<input type="text" placeholder="Email" class="form-control">-->
						{{ form.email_address(class="form-control", placeholder="Email Address") }}
  	 	 			</div>
					<div class="form-group">
  	 	 				<!--<input type="text" placeholder="Email" class="form-control">-->
						{{ form.phone_number(class="form-control", placeholder="Phone Number") }}
  	 	 			</div>
  	 	 			<div class="form-group">
  	 	 				<!--<input type="password" placeholder="Create Password" class="form-control">-->
						{{ form.password1(class="form-control", placeholder="Password") }}
  	 	 			</div>
					<div class="form-group">
  	 	 				<!--<input type="text" placeholder="Confirm Password" class="form-control">-->
						{{ form.password2(class="form-control", placeholder="Confirm Password") }}
  	 	 			</div>
  	 	 			<div class="form-group">
  	 	 				<label><input type="checkbox">
  	 	 					Remember Me
  	 	 				</label>
  	 	 			</div>
					{{ form.submit(class="btn btn-lg btn-block btn-primary") }}
				</form>
			</div>
		</div>
	</div>
	<script src="../static/scripts/loginscript.js"></script>
	<script src="{{ url_for('static',filename='scripts/.js') }}"> </script>
	<script>
        // Wait for the document to be fully loaded
        document.addEventListener('DOMContentLoaded', function() {
            // Find the element containing the messages
            var flashedMessages = document.getElementById('flashed-messages');
            
            // Set a timeout to hide the messages after 5 seconds (5000 milliseconds)
            setTimeout(function() {
                flashedMessages.style.display = 'none';
            }, 4000); // Adjust the time as needed
        });
      </script>
</body>
</html>